.header {
  border: 1px dotted;
  height: 100vh;

  &__content {
    height: 100vh;
    padding-top: 25vh;
  }

  &__greetings {
    margin: 0;
  }
  
  &__title {
    font-family: $Montserrat;
    font-size: 8rem;
    margin: 0;
  }
  
  &__sub {
    font-family: $Montserrat;
    font-size: 6rem;
    margin: 0;
  }
  
  &__intro {
    font-size: 2.5rem;
    max-width: 50rem;
  }
}