.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  
  a {
    align-items: center;
    border-radius: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    padding: 20px;
    transition: .3s;
    
    &:hover {
      border: 1px solid #eee;
      transition: .3s;
      
      & svg {
        fill: #eee;
        transition: .3s;
      }
    }
    
    & svg {
      height: 20px;
      transition: .3s;
      width: 20px;
    }
  }
}