.navigation {
  align-items: center;
  background: $dark-grey;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  
  a {
    align-items: center;
    display: flex;
    background: $dark-grey;
    justify-content: center;
    padding: 10px;
    z-index: 20;
    
    & svg {
      height: 20px;
      width: 20px;
    }
  }
  
  hr {
    border-color: lighten($dark-grey, 20);
    position: absolute;
    width: 100%;
    top: 11px;
    z-index: 10;
  }
}