.projects {

  .title__image {
    background-image: url('../../images/tea-cookie.png');
  }

  &__content {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    
    @include for-tablet-portrait-up {
      display: flex;
    }
  }
}