.contact {

  .title__image {
    background-image: url('../../../images/envelop-pencil.png');
  }

  .headline {
    font-size: 2rem;
    margin: 0 0 60px;
    text-align: center;

    @include for-tablet-portrait-up {
      font-size: 3rem;
    }
  }

  .social__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 60px;
  }

  .social {
    align-items: center;
    display: flex;
    height: 10rem;
    justify-content: center;
    position: relative;
    width: 10rem;

    &:hover {
      .social__line {
        background: $white;
        transform: rotate(45deg);
        transition: .3s ease-in-out;
      }

      .social__link {
        border: 1px solid $white;
        transition: .3s ease-in-out;
      }

      .social__icon {
        fill: $white;
        transition: .3s ease-in-out;
      }
    }

    &__link {
      align-items: center;
      background: $black;
      border-radius: 100%;
      border: 1px solid;
      display: flex;
      height: 8rem;
      justify-content: center;
      width: 8rem;
      z-index: 20;
    }

    &__icon {
      height: 4rem;
      width: 4rem;
    }

    &__line {
      background: $light-grey;
      content: "";
      height: 1px;
      left: -12%;
      position: absolute;
      top: 49%;
      transform: rotate(-45deg);
      transition: .3s ease-in-out;
      width: 120px;
      z-index: 10;
    }
  }

  .buttons__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }
}