.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
  &__title {
    color: $light-grey;
    font-family: $Montserrat;
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 4rem;
    text-align: center;
    text-shadow: 0 0 5px $medium-grey;
    
    @include for-tablet-portrait-up {
      font-size: 8rem;
    }
    
    @include for-tablet-landscape-up {
      font-size: 11rem;
    }
  }
  
  &__sub {
    color: $medium-grey;
    font-family: $Montserrat;
    font-size: 3rem;
    line-height: 1;
    margin-top: 2rem;
    text-align: center;
    text-shadow: 0 0 8px #444;

    @include for-tablet-portrait-up {
      font-size: 4rem;
    }

    @include for-tablet-landscape-up {
      font-size: 6rem;
    }
  }
  
  &__text {
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-top: 8rem;
    max-width: 50rem;

    @include for-tablet-portrait-up {
      font-size: 2.3rem;
    }

    &--second {
      margin-top: 2rem;
    }
  }
}