* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $dark-grey;
  color: $light-grey;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: $light-grey;
  cursor: pointer;
}

.title {
  font-family: $Montserrat;
  font-size: 4rem;
  margin-top: 0;
}

.section {
  min-height: 50vh;
  padding: 10vh 0;
}

.content-container {
  margin: 0 auto;
  max-width: 100rem;
  padding-left: 100px;
  padding-right: 100px;
}

.button {
  border: 1px solid;
  padding: 15px;
  text-decoration: none;
}