* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $dark-grey;
  color: $light-grey;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: $light-grey;
  cursor: pointer;
}

.title {
  font-family: $Montserrat;
  font-size: 4rem;
}

.section {
  border: 1px solid;
  min-height: 50vh;
  padding: 10vh 0;
}