// Colors
$dark-grey: #222;
$light-grey: #eee;

// Font size
$Roboto: Roboto, Helvetica, Arial, sans-serif;
$Montserrat: Montserrat, Helvetica, Arial, sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;